<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
        body{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #todo{
            list-style-type: none;
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
        }
        .input-group{
            display: flex;
        }
        .input-group input{
            border: none;
        }
        .input-group input[type="text"]{
            flex-grow: 1;
            height: 40px;
            background: #1188e0;
            border-right: .5px solid #23212159;
            padding: 0 20px;
            color: #fff;
        }
        .input-group input[type="submit"]{
            width: 40px;
            height: 40px;
            background: #1188e0;
            color: #fff;
            cursor: pointer;
        }
        ul{
            background: #1B9CFC;
            padding: 20px;
        }
        ul li{
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        ul li:not(:last-child){
            margin-bottom: 10px;
        }
        ul li button{
            background: #1188e0;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            color: #fff;
        }
    </style>
</head>
<body>
    <div id="todo">
        <div class="input-group">
            <input type="text" v-model="newItem">
            <input type="submit" v-on:click="addNewItem()" value="&#x271A">
        </div>
        <ul id="todo">
            <li v-bind:contenteditable="editableItem" v-for="item in items">{{item}}<button v-on:click="removeItem($event)">&#10005;</button></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var todo = new Vue({
            el:'#todo',
            data:{
                newItem:'',
                items:['Ux research'],
                editableItem:'true'
            },
            methods:{
                addNewItem:function(){
                    this.items.push(this.newItem);
                },
                removeItem:function(event){
                    console.log(event.target.parentElement.remove())
                }
            }
        });
    </script>
</body>
</html>